# logs and configures are not uploaded
log
conf
leelalogs
traininglogs

# checkpoint folders are uploaded as release
ckpt*

# results of bazel build are ignored
bazel-*
.bazelrc
.tf_configure.bazelrc
tools/python_bin_path.sh

# ignore tensorrt files
*.uff
*.PLAN

# ignore tensorflow files
*.index
*.meta
*.data-00000-of-00001
*.pb
*.pb.h
*.pb.cc

# ignore flies for VS building
*.user
*.VC.db
*.VC.VC.opendb
.vs
x64
x86
Release
Debug

# ignore folders for building
build

# ignore python cache files
*.pyc
__pycache__

# ignore lz weight file (txt, tf, ckpt)
scripts/*.txt
scripts/checkpoint

# Auto generated configure files
tools/etc/

# following files are for testing only
scripts/float2half/meta_graph
scripts/float2half/graph_editor.py
scripts/float2half/node.txt
scripts/float2half/test.pb
scripts/float2half/test_meta_graph
etc/mcts_dist_test.conf

