# logs and configures are not uploaded
log
test*.conf
traininglogs

# checkpoint folders are uploaded as release
ckpt*

# results of bazel build are ignored
bazel-*
.bazelrc
.tf_configure.bazelrc
tools/python_bin_path.sh

# ignore tensorrt files
*.uff
*.PLAN

# ignore tensorflow files
*.index
*.meta
*.data-00000-of-00001
*.pb
*.pb.h
*.pb.cc
*.step
checkpoint

# ignore folders for building
build/

# ignore python cache files
*.pyc
__pycache__

# ignore weight file (txt, tf, ckpt)
scripts/*.txt
scripts/checkpoint

# Auto generated configure files
tools/etc/

# following files are for testing only
etc/mcts_dist_test.conf

# TensorFlow libs
model/tensorflow/
