log
conf
ckpt
bazel-*
compile_commands.json
tools/actions
third_party/bazel
*.pyc
.bazelrc
.tf_configure.bazelrc
tools/python_bin_path.sh
*.pb.h
*.pb.cc
*.user
*.VC.db
*.VC.VC.opendb
.vs
x64
x86
Release
Debug
scripts/*.txt
scripts/leela*
scripts/log
scripts/__pycache__
scripts/checkpoint
scripts/u2p/build
scripts/trt_test/build
